---
import Projects from "@/layouts/function-components/Projects";
import { markdownify } from "@/lib/utils/textConverter";

const { features } = Astro.props;
---

<section class="section features pb-0">
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center lg:col-7">
        <h2
          set:html={markdownify(
            "Get familiar with <br /> the topics in our library"
          )}
        />
      </div>
    </div>
    <div
      class="p mt-14 rounded-xl bg-white px-6 pb-6 shadow-lg lg:px-12 w-full lg:w-3/5 mx-auto"
    >
      <div class="row">
        <Projects client:load projects={features} />
      </div>
    </div>
  </div>
</section>
