---
import Projects from "@/layouts/function-components/Projects";

const { lang, postsTitle } = Astro.props;
---

<section class="section features pb-0">
  <div class="container" id="hidden-content">
    <div class="row">
      <div class="mx-auto text-center lg:col-7">
        <h2>{postsTitle}</h2>
      </div>
    </div>
    <div
      class="p mt-14 rounded-xl bg-white px-6 pb-6 shadow-lg lg:px-12 w-full lg:w-3/5 mx-auto"
    >
      <div class="row">
        <Projects client:load lang={lang} />
      </div>
    </div>
  </div>
</section>
