---
import { Image } from "astro:assets"

import HomapageFeature from "@/layouts/function-components/HomapageFeature"

const {
  cardsData: {
    textCard: { title, description },
    cards
  }
} = Astro.props
---

<section class="section key-feature relative pb-0">
  <Image class="absolute left-0 top-0 -z-[1] -translate-y-1/2" src="/images/feature-shape.png" height={126} width={63} alt="" />

  <div class="container">
    <div class="row justify-between text-center lg:text-start">
      <div class="lg:col-5">
        <h2>{title}</h2>
      </div>
      <div class="mt-6 lg:col-5 lg:mt-0">
        <p>{description}</p>
      </div>
    </div>

    <HomapageFeature cards={cards} client:load />
  </div>
</section>
