---
import { Image } from "astro:assets"
import { PortableText } from "@portabletext/react"
import HomepageFeature from "@/layouts/function-components/HomepageFeature"

const {
  cardsData: {
    textCard: { title, description },
    cards
  }
} = Astro.props
---

<section class="section key-feature relative pb-0">
  <Image class="absolute left-0 top-0 -z-[1] -translate-y-1/2" src="/images/feature-shape.png" height={126} width={63} alt="" />

  <div class="container">
    <div class="row justify-around text-left lg:text-start px-4">
      <div class="flex items-center text-balance lg:col-5">
        <h2 class="lg:text-5xl lg:leading-tight">{title}</h2>
      </div>
      <div class="mt-6 lg:col-5 lg:mt-0">
        <PortableText value={description} />
      </div>
    </div>

    {cards?.length && <HomepageFeature cards={cards} client:load />}
  </div>
</section>
