---
import { sanityFetch } from "@/lib/utils/sanityFetch"

import Base from "@/layouts/Base.astro"
import { ConflictGuideContent } from "@/layouts/function-components/ConflictGuideContent"
import ConflictGuideModal from "@/layouts/function-components/ConflictGuideModal"

const { lang } = Astro.props

const conflictGuidePageData = await sanityFetch({
  type: "conflictGuidePage",
  lang,
  object: `{
      title,
      pageMetadata {
        ...,
        "metaImage": metaImage.asset->url,
      },
      termsPopup {
        termsTitle,
        termsContent,
        termsButton,
      }
  }`
})

const { title, pageMetadata, termsPopup } = conflictGuidePageData[0] || {}
const { metaTitle, metaDescription, metaImage, noIndex, canonicalUrl } = pageMetadata || {}
---

<Base
  title={title && title}
  metaTitle={metaTitle && metaTitle}
  description={metaDescription && metaDescription}
  metaImage={metaImage && metaImage}
  noIndex={noIndex && noIndex}
  canonical={canonicalUrl && canonicalUrl}
  lang={lang}
>
  <div class="relative">
    <ConflictGuideModal termsPopup={termsPopup} client:only="react"/>

    <div class="conflict-guide-wrapper">
      <ConflictGuideContent lang={lang} client:only="react" />
    </div>
  </div>
</Base>
