---
import { sanityFetch } from "@/lib/utils/sanityFetch"

import Base from "@/layouts/Base.astro"
import PageHeader from "@/components/PageHeader.astro"
import ContactPageComponent from "@/layouts/function-components/contactTemplate"

const { lang } = Astro.props

const contactPageData = await sanityFetch({
  type: "contactPage",
  lang,
  object: `{
      title,
      pageMetadata {
        ...,
        "metaImage": metaImage.asset->url,
      },
      heroSection,
      nameObject,
      emailObject,
      inquiryObject,
      inquiryOptions,
      messageObject,
      buttonString
  }`
})

const { title, pageMetadata, heroSection, nameObject, emailObject, inquiryObject, inquiryOptions, messageObject, buttonString } = contactPageData[0] || {}
const { metaTitle, metaDescription, metaImage, noIndex, canonicalUrl } = pageMetadata || {}
---

<Base
  title={title && title}
  metaTitle={metaTitle && metaTitle}
  description={metaDescription && metaDescription}
  metaImage={metaImage && metaImage}
  noIndex={noIndex && noIndex}
  canonical={canonicalUrl && canonicalUrl}
  lang={lang}
>
  <section class="page-hero pb-6 pt-16">
    <div class="container">
      <PageHeader pageData={{ title, heroSection }} />
    </div>
  </section>

  <ContactPageComponent fieldData={{ nameObject, emailObject, inquiryObject, inquiryOptions, messageObject, buttonString }} client:load />
</Base>
