---
import { sanityFetch } from "@/lib/utils/sanityFetch"

import PageHeaderSanity from "@/components/PageHeaderSanity.astro"
import ContactPageComponent from "@/layouts/function-components/contactTemplate"

const { lang } = Astro.props

const contactPageData = await sanityFetch({
  type: "contactPage",
  lang,
  object: `{
      title,
      heroSection,
      nameObject,
      emailObject,
      inquiryObject,
      inquiryOptions,
      messageObject,
      buttonString
  }`
})

const { title, heroSection, nameObject, emailObject, inquiryObject, inquiryOptions, messageObject, buttonString } = contactPageData[0] || {}
---

<>
  <section class="page-hero pb-6 pt-16">
    <div class="container">
      <PageHeaderSanity pageData={{ title, heroSection }} />
    </div>
  </section>

  <ContactPageComponent fieldData={{ nameObject, emailObject, inquiryObject, inquiryOptions, messageObject, buttonString }} client:load />
</>
