---
import { sanityClient } from "sanity:client"

import Shape from "@/components/Shape.astro"
import PageHeader from "@/components/PageHeader.astro"
import Blogs from "@/components/Blogs.astro"
import FeaturedBlog from "@/components/blog/FeaturedBlog.astro"
import Pagination from "@/layouts/components/Pagination.astro"
import Cta from "@/layouts/partials/Cta.astro"

const { lang } = Astro.props

const featuredPost = await sanityClient.fetch(`*[_type == 'course' && featured == true]`)

const recentPost = await sanityClient.fetch(`*[_type == 'course' && featured != false] | order(_createdAt desc)`)

const totalPages = Math.ceil(recentPost.length / 6)
const currentPosts = recentPost.slice(0, 6)

const blogIndex = {
  collection: "courses",
  data: {
    title: "Courses",
    page_title: "Deepen your conflict management skills with our curated e-courses."
  }
}
---

<>
  <Shape />

  <section class="page-hero pt-16">
    <div class="container">
      <PageHeader page_data={blogIndex.data} />
    </div>
  </section>

  <section class="section">
    <script is:inline>
      document.addEventListener("DOMContentLoaded", function () {
        fetch("https://yppousers.websitetotal.com/auth/logged_in")
          .then(response => response.json())
          .then(data => {
            if (!data.logged_in) {
              const hiddenPaywall = document.getElementById("hidden-paywall")
              if (hiddenPaywall) {
                hiddenPaywall.classList.remove("hidden")
              }
            } else {
              const hiddenContent = document.getElementById("hidden-content")
              if (hiddenContent) {
                hiddenContent.classList.remove("hidden")
              }
            }
          })
          .catch(error => console.error("Error checking login status:", error))
      })
    </script>

    <div class="container hidden lg:gx-5 row items-center" id="hidden-paywall">
      <div class="lg:col-7 lg:order-1">
        <div class="relative">
          <img class="w-full object-contain" alt="service" width="473" height="286" src="/images/mascots/conflict-guide.png" />
        </div>
      </div>
      <div class="mt-6 lg:col-5 lg:mt-0 lg:order-0">
        <div class="text-container">
          <h2 id="paywall-info" class="lg:text-4xl mb-4">Members-only content</h2>
          <p class="mb-4">Please log in to your account to view our courses.</p>
          <a class="btn btn-outline-header mt-8" href="https://yppousers.websitetotal.com/users/sign_in" title="Let's go!">Let's go!</a>
        </div>
      </div>
    </div>

    <div class="container hidden" id="hidden-content">
      <FeaturedBlog posts={featuredPost} />
      <h2 class="h4 mb-4">Recent Posts</h2>
      <Blogs posts={currentPosts} />
      <Pagination section={"courses"} currentPage={1} totalPages={totalPages} />
    </div>
  </section>

  <Cta />
</>
