---
import { PortableText } from "@portabletext/react";

const {
  signUpButton: {
    signUpButton,
    signUpButtonText,
  }
} = Astro.props

---
{ signUpButton && <div>
  <PortableText value={signUpButtonText}/>
</div>}
