---
import { slugify } from "@/lib/utils/textConverter"
import localizeURL from "@/lib/utils/localizeURL"

const { categories, allCategoriesText, lang } = Astro.props
const params = Astro.params
---

<div class="category-filter mb-10 mt-3 rounded-xl bg-[#EEEEEE] p-4">
  <ul class="filter-list flex flex-wrap items-center">
    <li>
      <a class={`filter-btn ${!params.category ? "filter-btn-active" : undefined} btn btn-sm`} href={localizeURL("/categories", lang)}
        >{allCategoriesText ? allCategoriesText : "All Categories"}</a
      >
    </li>

    {
      categories.map((categoryItem: any) => (
        <li>
          <a
            class={`filter-btn ${params.category === slugify(Object.keys(categoryItem)?.[0]) ? "filter-btn-active" : undefined} btn btn-sm`}
            href={localizeURL(`/categories/${slugify(Object.keys(categoryItem)?.[0])}`, lang)}
          >
            {Object.values(categoryItem)?.[0]}
          </a>
        </li>
      ))
    }
  </ul>
</div>
