---
import { humanize, slugify } from "@/lib/utils/textConverter";
import localizeURL from "@/lib/utils/localizeURL"

const currentLanguage = Astro.currentLocale
const { categories } = Astro.props;
const params = Astro.params;
---

<div class="category-filter mb-10 mt-3 rounded-xl bg-[#EEEEEE] p-4">
  <ul class="filter-list flex flex-wrap items-center">
    <li>
      <a
        class={`filter-btn ${
          !params.category ? "filter-btn-active" : undefined
        } btn btn-sm`}
        href={localizeURL('/categories', currentLanguage)}>All Categories</a
      >
    </li>
    {
      categories.map((category: any) => (
        <li>
          <a
            class={`filter-btn ${
              params.category === slugify(category)
                ? "filter-btn-active"
                : undefined
            } btn btn-sm`}
            href={localizeURL(`/categories/${slugify(category)}`, currentLanguage)}
          >
            {humanize(category)}
          </a>
        </li>
      ))
    }
  </ul>
</div>
