<!doctype html>
<html>
  <head>
    <title>OAuth Callback Handler</title>
  </head>
  <body>
    <script>
      const clientId = "bis6Y4b7REyhK-tt1-n98hG2ZnnlYZfNgKTWVWpUSbU";
      const clientSecret = "weFWPtH6tBwgvyXCurj75CXH1qnQvBP2rQoQLFssNbU";
      const redirectUri = encodeURIComponent("https://dev.personalombuds.com/callback/");
      const tokenUri = "https://users.personalombuds.com/marko_auth.json";

      function handleAuthCallback() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const code = urlParams.get("code");

        if (code) {
          exchangeCodeForToken(code);
        } else {
          console.error("Error: Authorization code not received.");
        }
      }

      function exchangeCodeForToken(code:any) {
        const body = `grant_type=authorization_code&code=${code}&redirect_uri=${redirectUri}&client_id=${clientId}&client_secret=${clientSecret}`;

        fetch(tokenUri, {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: body,
        })
          .then((response) => response.json())
          .then((data) => {
            localStorage.setItem('yppo_user_auth', data.access_token);
            var storedURL = localStorage.getItem('yppoCurrentUrl');
            window.location.href = storedURL ? storedURL : '/';
          })
          .catch((error) => {
            console.error("Error exchanging token:", error);
          });
      }

      if (window.location.search.includes("code=")) {
        handleAuthCallback();
      }
    </script>
  </body>
</html>
