<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Callback Page</title>
  </head>
  <body>
    <script>
      function getQueryParam(name: any) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
      }

      function setCookie(name: any, value: any, days: any) {
        const expires = new Date();
        expires.setTime(expires.getTime() + days * 24 * 60 * 60 * 1000);
        document.cookie = `${name}=${value};expires=${expires.toUTCString()};path=/`;
      }

      const code = getQueryParam("code");

      if (code) {
        const postData = {
          code: code,
          client_id: "A0USaYg7dVEdtVPztz5TBThpbOwk9xCqXKx2p9g0zwo",
          client_secret: "B05vhMaEQvDLaS01NySCvjVzhZU5PlgwYhraiIP1lgw",
          grant_type: "authorization_code",
          redirect_uri: "urn:ietf:wg:oauth:2.0:oob",
        };

        fetch("https://yppousers.websitetotal.com/oauth/token", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(postData),
        })
          .then((response) => response.json())
          .then((data) => {
            const responseDataString = JSON.stringify(data);
            setCookie("authorization_token", responseDataString, 30);
            window.location.href = "/";
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      } else {
        console.error("No code found in URL query parameters");
      }
    </script>
  </body>
</html>
